body {
    margin: 0; /*set margins to zero (8 px by default) */
    font-family: arial, sans-serif; /* use arial font in the body, and sans-serif if arial is not available */
    font-size: 0.9em; /* 90% of default font size */
}

a {
    margin: 5px; /*anchor tags have margins of 5 px all around*/
    text-decoration: none; /*no text decoration by default*/
    color: black; /*black text by default*/
}

a:hover { /*effects when an anchor is hovered over */
    text-decoration: underline;
}

nav {
    display: flex; /*expands items to fill available free space or shrinks them to prevent overflow*/
    justify-content: space-between; /*space-between items are evenly distributed in the container*/
}

.header-nav { /* dot operator (.) defines a class */
    display: flex; /*items in the flex box become flex items */
    align-items: center; /* center in y-direction*/
    padding-left: 20px; /* was 40 px by default */
    margin-right: 10px;
}

ul > a, ul > img { /* > operator is used to select an element with a specific parent. example: ul > a selects all anchor tags within a ul tag. */
    padding: 0 8px; /* no padding on top and bottom, left and right padding = 8 px */
}

.header-img:hover { /* dot operator (.) defines a class */
    box-shadow: 0 0 10px 0 gainsboro; /* horizontal offset, vertical offset, blur radius, size of shadow, color */
    border-radius: 20px;
    cursor: pointer;
}

section {
    display: flex;
    flex-direction: column; /* flex direction is row by default */
    align-items: center;
    margin-top: 15vh; /*15% of viewport height */
}

.my-input-container {
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 38px;
    border: 1px solid gainsboro;
    border-radius: 20px;
}

.my-input-container:hover {
    box-shadow: 0 0 10px 0 gainsboro;
}

.my-input-container > input {
    flex-grow: 1;
    border: none;
    outline: none;
}

.my-input-container > img {
    padding: 5px 10px; /*5 px top,bottom and 10 px left,right*/
    max-width: 80%;
    max-height: 80%;
}

.my-input-container > img:hover {
    cursor: pointer;
}

.my-button-container {
    padding-top: 53px;
}

button {
    background-color: #F8F9Fa;
    border-radius: 5px;
    border: none;
    height: 36px;
    padding: 0 20px; /* 20 px padding on left and right */
    margin: 0 4px; /* 4 px margin on left and right */
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 0 gainsboro; /* horizontal offset, vertical offset, blur radius, size of shadow, color */
    border-radius: 20px;
}

footer {
    background-color: #F2F2F2;
    position: fixed; /* navbar will stay in same place even if the page is scrolled. */
    bottom: 0; /* zero space between bottom of page and nav bar */
    width: 100vw; /* width is 100% of (equal to) width of viewport */
}

#footer-left { /* # operator defines an ID */
    display: flex;
    justify-self: start; /* beginning of flex box */
    padding-left: 20px;
    align-items: center;
}

#footer-right { /* # operator defines an ID */
    display: flex;
    justify-content: flex-end; /* flex to rightmost of container */
    margin-right: 20px;
    align-items: center;
}

@media (max-width: 630px) { /* apply these if screen width is less than 630px */
    #footer-nav {
        flex-direction: column;
    }

    #footer-left {
        justify-content: center;
    }

    #footer-right {
        justify-content: center;
    }

    .my-input-container { /* search bar and buttons no longer get cut off when screen width is compressed */
        width: 95vw;
    }
}

@media (max-height: 522px) { /* apply these if screen height is less than 522px */
    body {
        overflow-x: hidden;
    }

    section {
        margin-bottom: 20px;
    }

    footer {
        position: relative;
    }
}